@charset "utf-8";
/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
html{overflow-y: scroll; overflow-x: hidden;}
body{
    font-family: "Malgun Gothic","맑은 고딕",Dotum,"돋움체",Arial,sans-serif;
    color: #333;
}
ul,li{list-style: none; padding: 0; margin: 0;}
a{text-decoration: none; color: #333;}

.cf::after{content: "";display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}
.df{display: flex;}

/* layout */
.width1400{margin: auto; max-width: 1400px; width: 100%;}
.pr{position: relative;}
.pa{position: absolute;}
.width100{width: 100%;}

/* 투뎁스 100% 배경 */
#nav>li>.width100{left: 0; /* display: none;*/} 
#nav>li:hover .width100{display: block;}

/* custom */
#lnb{height: 94px; background: #fff;}
#lnb li{margin: 0 38px;}
#lnb li a{display: block; line-height: 94px; text-align: center; font-size: 1.2em; font-weight: bold;}
#lnb li a:hover{color: #e95a65;}
#lnb li#freesamLogo{width: 181px; margin: 0 0 0 25px;}
#lnb .width1400 .m_tit{padding: 0 20px 0 0;}
#lnb .width1400 .m_tit img{display: block; margin: 20px auto; width: 135px;}
#lnb .width100{background: #fbfbfb; top: 94px; left: 0; z-index: 2; box-shadow: 0 2px 2px rgb(0, 0, 0 /7%); height: 0px; overflow: hidden;  transition: all 0.5s; padding: 0 0;}
/* height: auto;면 트렌지션이 안먹어서 패딩으로 넣어줌! */

#lnb li:hover .width100{height: auto; padding: 20px 0;}
#lnb .width100::before{position: absolute; content: ""; background-color: indianred; width: 100%; height: 100%; right: calc(50% + 30rem); z-index: -1;}
/* position: absolute;을쓰면 인라인성질이 블럭성질로 됌 */
/* right: calc(50% + 단위상관없음); - 50이 아니면 너비가 변화함 */


/* .depth2 */
/* li .width100{display: none;}
.dep1_2 .width100{display: block;} */

#lnb li ul li{width: 200px; margin: 0; border-left: 1px solid #c9c9c9; padding-left: 20px;}
#lnb li ul li a{ text-align: left;}
#lnb li ul li h2{font-size: 1.5em; text-align: center; color: #e95a65;}
#lnb li ul li dl dt a{font-size: 1em; font-weight: bold; line-height: 180%;}
#lnb li ul li dl dd a{color:#777; font-size: 0.8em; font-weight: bold; line-height: 170%; padding-left: 10px;}
#lnb li ul li h3 a{color: #097a84; font-weight: bold; line-height: 200%; margin-bottom: 3px;}

.main_banner{
    background: url("https://img.freepik.com/free-photo/close-up-portrait-beautiful-cat_23-2149214372.jpg?w=1380&t=st=1670577040~exp=1670577640~hmac=fefd6b86163ebf2d5e9063878b16adafd9b74ec466c4ce7af2ff538258832f5e") no-repeat;
    background-size: cover;
    height: 100vh;
}

.main_banner ul{
    /* width: 600px; */
    height: 200px;
    margin: auto;
    position: relative;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_banner li{
    width: 33%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 2em;
}