.container {
	display: flex;
	/* flex-direction: column; */
	width: 100%;
	height: 150px;
}

#opt1{
  justify-content: center;
  align-items: flex-start;
}
#opt2{
  align-items: flex-end;
}
#opt3{
  align-items: center;
}
#opt4{
  align-items: baseline;/* 문자기준선 정렬 */
  align-items: stretch;/* 부모만큼 늘림 */
}

