#wrap{
    background-color: pink;
}
.inner{
    width: 100%;
    max-width: 1400px;
    height: inherit;
    margin: auto;
}

header {}
#main{background-color: #be7e7e;}
#pick{background-color: #ec8c8c;}
#location{background-color: #eea7a7;}
#select{background-color: #d69ab1;}
#quick{background-color: #bb6e6e;}
#footer{background-color: #eeadad;}

header>.inner{height: 100px; background-color: #b46f6f;}
#main>.inner{height: 100px; background-color: #db8f8f;}
#pick>.inner{height: 100px; background-color: #bd7f7f;}
#location>.inner{height: 100px; background-color: #bb6565;}
#select>.inner{height: 100px; background-color: #daa2be;}
#quick>.inner{height: 100px; background-color: #bd7777;}
footer>.inner{height: 100px; background-color: #dfa2a2;}

