#wrap{
    background-color: pink;
}
#header_inner,
#main_inner,
#pick_inner,
#location_inner,
#select_inner,
#quick_inner,
#footer_inner{
    width: 1400px;
    height: 200px;
    margin: auto;
}

#header{background-color: #fdb0b0;}
#main{background-color: #be7e7e;}
#pick{background-color: #ec8c8c;}
#location{background-color: #eea7a7;}
#select{background-color: #d69ab1;}
#quick{background-color: #bb6e6e;}
#footer{background-color: #eeadad;}

#header_inner{background-color: #d89797;}
#main_inner{background-color: #db8f8f;}
#pick_inner{background-color: #bd7f7f;}
#location_inner{background-color: #bb6565;}
#select_inner{background-color: #daa2be;}
#quick_inner{background-color: #bd7777;}
#footer_inner{background-color: #dfa2a2;}

